.recipes-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.all-recipes-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.meal-plan-container {
    padding-left: 20px;
    font-size: 12px;
}

.meal-plan-title {
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.meal-plan-icon {
    width: 22px;
}

/* SEARCH BAR */

.search-recipe-col {
    padding: 0px;
}

.search-recipe-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.search-input {
    width: 270px;
    padding: 2px 10px;
    font-size: 11px;
}

/* PAGINATION BUTTONS */

.pagination-btns {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.pagination-btns img:hover {
    cursor: pointer;
}

.arrow-back {
    width: 48px;
    margin-right: 30px;
}

.arrow-next {
    width: 48px;
    transform: scaleX(-1);
}

.disabled {
    opacity: 0.3;
}


/* GO BACK BUTTON */
.go-back-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-right: 40px;
}
.back-btn {
    border: 1px solid black;
    height: 32.5px;
    margin-top: 2px;
    padding: 4px 15px 5px 15px;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:none; 
}