.recipe-card {
    width: 208px;
    border: 1px solid rgb(212, 212, 212);
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card:hover img {
    opacity: 0.3;
}

.recipe-card:hover .details-btn {
    display: block;
}

.img-card-container {
    overflow: hidden;
    width: 207px;
    height: 245px;
    position: relative;
}

.img-card-container img {
    max-width: 100%;
    transition: all 0.3s ease-out;
}

.details-btn {
    display: none;
    color: black;
    position: absolute;
    top: 105px;
    left: 50px;
    font-size: 14px;
    border: 2px solid black;
    padding: 9px 16px;
}

.details-btn:hover {
    cursor: pointer;
}

.recipe-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    text-align: center;
    padding: 0px 8px;
}

.recipe-card-title h5 {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}



/* RECIPE DETAILS */

.recipe-details-container {

    margin-top: 20px
}

.recipe-details-text {
    display: flex;
}

.recipe-details-title {
    display: flex;
    justify-content: space-between;
}

.recipe-details-name {
    font-weight: 700;
    font-size: 28px;
}

.recipe-details-subtitle {
    font-weight: 700;
}

.recipe-details-img {
    height: 450px;
    width: auto;
    margin-left: auto;
    padding-left: 15px;
}


/* SEARCH BAR */

.add-meal-plan {
    display: flex;

}

#select-day {
    height: 32px;
    width: 150px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

.add-btn {
    border: 1px solid black;
    height: 32.5px;
    margin-top: 2px;
    padding: 4px 15px 5px 15px;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
    color: white;
    cursor: pointer;

}

