.recipe-card {
    width: 230px;
    padding: 20px;
}

.recipe-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
}

.recipe-list-img {
    height: 280px;
    width: auto;
}

.recipe-details-img {
    height: 680px;
    width: auto;
}